input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: -2px 0;
    min-height: fit-content;
    background: white;
    outline: none;
    overflow: visible;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 30%; 
    background: #000000;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background: #000000;
    cursor: pointer;
    
    margin-top: -5px;
    margin-bottom: -5px;
    position: relative;
    z-index: 2;
}

input[type="range"]::-moz-range-progress {
  background: black;
  height: 100%;
  border-radius: 10px;
}

