<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>M-400 remote control</title>
        <link rel="icon" type="image/png" href="/static/resource/mixer_icon.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
        <link rel="stylesheet" href="/static/style/mixer/scene-list.css">
        <link rel="stylesheet" href="/static/style/common/range.css">
        <link rel="stylesheet" href="/static/style/mixer/scene.css">
        <link rel="stylesheet" href="/static/style/mixer/eq.css">

        <link id="layout-style" rel="stylesheet" href="/static/style/mixer/horizontal-layout.css">
        <style>
            body{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .alert{
                position: fixed;
                z-index: 1000;
            }

        </style>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden>
            <p></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="slider_dca">
            {% for dca, value, switch in dcas%}
                <div class="canale-container">

                    <input id="dca_switch_{{dca.id}}" onchange="checkSwitchDca({{dca.id}}, this.checked)" type="checkbox"{% if switch %} checked {% endif %} hidden>
                    <label for="dca_switch_{{dca.id}}" class="mute">{{dca.nome}}</label>

                    <button type="button" onclick="changeValue({{ dca.id }}, 'plus', 'dca')">+</button>
                    <input class="inputRange"  type="range" min="0" max="100" value="{{value}}" id="dca_canale_{{ dca.id }}" onchange="sendMessageDca( {{dca.id}} , this.value);" oninput="sendMessageDca({{dca.id}} , this.value);">
                    <button type="button"  onclick="changeValue({{ dca.id }}, 'minus', 'dca')" >-</button>

                    <span class="descrizione">{% if dca.descrizione is not none %} <strong>{{ dca.descrizione }}</strong> {% endif %}</span>
                </div>
            {% endfor %}
       </div>

        <div id="main" class="canale-container">
            <input id="switch_main" onchange="checkSwitchMain(this.checked)" type="checkbox"  {% if switchMain %} checked {% endif %} hidden>
            <label for="switch_main" class="mute">Main</label>
            <button type="button"  onclick="changeValue('main', 'minus')" >-</button>
            <input class="inputRange"  type="range" min="0" max="100" value="{{valueMain}}" id="canale_main" onchange="sendMessageMain(this.value);" oninput="sendMessageMain(this.value);">
            <button type="button" onclick="changeValue('main', 'plus')">+</button>
        </div>

       <div class="slider">
            {% for canale, value, switch in canali %}
                <div class="canale-container">
                    <input id="switch_{{canale.id}}" onchange="checkSwitch({{canale.id}}, this.checked)" type="checkbox"  {% if switch %} checked {% endif %} hidden>
                    <label for="switch_{{canale.id}}" class="mute">{{canale.nome}}</label>
                    <button class="eq-button" type="button" onclick="openEq({{canale.id}})" style="font-size: 12px;">EQ</button>

                    <button type="button" onclick="changeValue({{ canale.id }}, 'plus')">+</button>
                    <input class="inputRange"  type="range" min="0" max="100" value="{{value}}" id="canale_{{ canale.id }}" onchange="sendMessage( {{canale.id}} , this.value);" oninput="sendMessage({{canale.id}} , this.value);">
                    <button type="button"  onclick="changeValue({{ canale.id }}, 'minus')" >-</button>

                    <span class="descrizione">{% if canale.descrizione is not none %} <strong> {{ canale.descrizione }}</strong> {% endif %}</span>
                </div>
            {% endfor %}
       </div>
        

        <div id="scene-button">
            <button type="menu">Scenes</button>
        </div>
       
        <div class="scene-container-list" >
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th></th>
                </tr>
                {% for scene in scenes%}
                <tr>
                    <td>{{scene.id}}</td>
                    <td>{{scene.name}}</td> 
                    <td><button style="width: auto; border-radius: 0%;" type="button" onclick="window.location.href='./loadScene/{{scene.id}}';">Richiama</button></td>
                </tr>
                {% endfor %}
            </table>   
        </div>

        <div id="layout-button"><button onclick="switchLayout()">Layout</button></div>

        <div class="eq-container" >
            <span class="eq-close" onclick="this.parentElement.style.display='none'">&times;</span>
            <div class="first-line">
                <h4 id="channel-name">Channel</h4>
                <label for="gain">Gain</label>
                <input id="pre-amp" type="range" min="0" max="55" onchange="setPreamp(this.value)" oninput="setPreamp(this.value)" >

                <input type="checkbox" id="switchEQ" onchange="setEQSwitch(this.checked)" hidden>
                <label for="switchEQ" class="mute">Switch EQ</label>
            </div>
            <div class="graph-container">
                <svg id="eqChart" width="800" height="400"></svg>
            </div>
            <div class="parameter-container">
                <div class="band">
                    <h6>Low</h6>
                    <label>
                        Frequenza (Hz)
                        <input id="eq_low_freq" type="number" min="20" max="20000" step="1" class="freq">
                    </label>
                    <label>
                        Gain (dB)
                        <input id="eq_low_gain" type="number" min="-15" max="15" step="1" class="gain">
                    </label>
                </div>
                <div class="band">
                    <h6>Low-Mid</h6>
                    <label>
                        Frequenza (Hz)
                        <input id="eq_low_mid_freq" type="number" min="20" max="20000" step="1" class="freq">
                    </label>
                    <label>
                        Gain (dB)
                        <input id="eq_low_mid_gain" type="number" min="-15" max="15" step="1" class="gain">
                    </label>
                    <label>
                        Q 
                        <input id="eq_low_mid_q" type="number" min="0.36" max="16" step="0.1" class="q">
                    </label>
                </div>
                <div class="band">
                    <h6>Mid-Hi</h6>
                    <label>
                        Frequenza (Hz)
                        <input id="eq_mid_hi_freq" type="number" min="20" max="20000" step="1" class="freq">
                    </label>
                    <label>
                        Gain (dB)
                        <input id="eq_mid_hi_gain" type="number" min="-15" max="15" step="1" class="gain">
                    </label>
                    <label>
                        Q 
                        <input id="eq_mid_hi_q" type="number" min="0.36" max="16" step="0.1" class="q">
                    </label>
                </div>
                <div class="band">
                    <h6>High</h6>
                    <label>
                        Frequenza (Hz)
                        <input id="eq_high_freq" type="number" min="20" max="20000" step="1" class="freq">
                    </label>
                    <label>
                        Gain (dB)
                        <input id="eq_high_gain" type="number" min="-15" max="15" step="1" class="gain">
                    </label>
                </div>
            </div>
        </div>

        <script>
            const socket = new WebSocket('wss://{{ipSocket}}/ws/liveSyncMixer'); 
        </script>
        <script src="/static/script/mixer/scene.js"></script>

        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script>
            let channel = ""
            function openEq(channel){
                this.channel = channel
                document.getElementsByClassName('eq-container')[0].style.display='block'; 
                document.getElementById('channel-name').innerHTML=`Canale ${channel}`;
                update();

                const xhttp = new XMLHttpRequest();
                xhttp.open("GET", `/mixer/EQget/${channel}`);
                xhttp.send();
                //set loading

                xhttp.onload = function(){
                    const obj = JSON.parse(this.responseText);
                    const result = JSON.parse(obj)

                    for (const [index, band] of result.entries()) {        
                        bands[index]["gain"] = band.gain;
                        console.log(`Inserisco ${index} a gain ${band.gain}`);

                        bands[index]["freq"] = band.freq; 
                        console.log(`Inserisco ${index} a freq ${band.freq}`);

                        if(band.q){
                            bands[index]["q"] = band.q; 
                            console.log(`Inserisco ${index} a q ${band.q}`);
                        }
                    }
                    update();
                }

                const xhttp2 = new XMLHttpRequest();
                xhttp2.open("GET", `/mixer/EQSwitch/${channel}`);
                xhttp2.send();
                //set loading

                xhttp2.onload = function(){
                    const obj = JSON.parse(this.responseText);
                    switchEQ = document.getElementById("switchEQ");
                    if(switchEQ)
                        switchEQ.checked = obj;
                    
                }

                const xhttp3 = new XMLHttpRequest();
                xhttp3.open("GET", `/mixer/PreampGet/${channel}`);
                xhttp3.send();
                //set loading

                xhttp3.onload = function(){
                    const obj = JSON.parse(this.responseText);
                    slider = document.getElementById("pre-amp");
                    if(slider)
                        slider.value=obj; 
                }
            }


            function setPreamp(value){

                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", `/mixer/PreampSet`);
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                request = {
                    channel : this.channel,
                    value : value
                };

                xhttp.send(JSON.stringify(request));

            }
        </script>
        <script src="/static/script/mixer/eq.js"></script>
    </body>
</html>