<!DOCTYPE html>
<html>
    <head>
        <title>M-400 remote control</title>
        </head>
        <style>
            .center {
              margin: auto;
              width: 60%;
              padding: 10px;
              text-align: center;
            }
            </style>
        <body>
        <div class="center">
            <h1>Login</h1>
            <p>Inserisci il tuo username per entrare</p>
            <label for="username">Username</label><br>
            <form id="form" class="center" action="/login" method="post">
                <input type="text" title="username" id="username" name="username" required><br><br>
                <button type ="/login">Login</button>
            </form>
        </div>

        
        </body>
</html>