<!DOCTYPE html>
<html>
    <head>
        <title>M-400 remote control</title>
        <link rel="icon" type="image/png" href="/static/resource/mixer_icon.png" />
        <style>
            body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                font-size: 32px;
            }
            button, p{
                font-size: 48px;
                width: 20rem;
                text-align: center;
            }
        </style>
    </head>
    <h1>Non sei autorizzato</h1>
    <h5>Torna all'login</h5>
    <button onclick="window.location.href='/'">Home</button>
</html>