<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>M-400 remote control</title>

        <style>
            div {
                display: flex;
                flex-direction : column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                
            }

            button {
                width: auto;
                height: auto;
                font-size: 2rem;
                margin: 1rem;
            }
        </style>
    </head>

    

    <body>
        <div>
            <button type="button" onclick="window.location.href='admin/manageUser'">Gestione Utenti</button>
            <button type="button" onclick="window.location.href='admin/manageScene'">Gestione Scene</button>
            <button type="button" onclick="window.location.href='admin/manageChannel'">Gestione Canali</button>
        </div>
    </body>
</html>