<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <title>M-400 remote control</title>
        <link rel="icon" type="image/png" href="/static/resource/mixer_icon.png" />

        <link rel="stylesheet" href="/static/style/user/layout.css"/>

        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id ="addbuttons">
            {% for canale in canali %}
            <div id= "Add_{{canale.id}}" style="display: inline-block;">
                <button type="button" onclick="addChannelLayout({{canale.id}}, '{{ canale.name}}{% if canale.description is not none %}: {{ canale.description }}{% endif %}')">{{canale.name}}
                    {% if canale.description is not none %}
                        : {{ canale.description }}
                    {% endif %}
                </button>
            </div>
            {% endfor %}
        </div>

        <div>
            <span>Canali layout</span>
            <ul id="sortable element">
            {% for layoutcanale in layout %}
                <li id ="Remove_{{layoutcanale.channel_id}}" class="channelLayout" draggable="true">{{layoutcanale.channel_id}} 
                    <input type="text" value="{{layoutcanale.description}}"> 
                    <div style="display: inline-block;">
                        <button type="button" onclick="removeChannelLayout({{layoutcanale.channel_id}})">Elimina</button>
                    </div>
                    <input type="checkbox" {% if layoutcanale.is_drum%}checked{%endif%}>
                    <i class="fas fa-arrows-alt drag"></i>
                </li>                
            {% endfor %}
            </ul>
        </div>

                

        <div>
            <button type = "button" onclick='window.location.href = "./";'>Torna a Live Control</button>
            <button type = "button" onclick="saveLayout()">Salva Layout</button>
        </div>

        <script>
            new Sortable(document.getElementById("sortable element"), {
                animation: 150,
                handle: ".drag"
            });
            const list = document.getElementById("sortable element")

            let draggedItem = null;


            function getDragAfterElement(container, y) {
                const draggableElements = [...container.querySelectorAll('li:not(.dragging)')];

                return draggableElements.reduce((closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offset = y - box.top - box.height / 2;
                    if (offset < 0 && offset > closest.offset) {
                    return { offset: offset, element: child };
                    } else {
                    return closest;
                    }
                }, { offset: Number.NEGATIVE_INFINITY }).element;
            }

            function addChannelLayout(canaleId, descrizione){
                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", "./layout/addChannelLayout");
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                message = {
                    canale_id : canaleId,
                    descrizione : descrizione
                };

                xhttp.send(JSON.stringify(message));

                xhttp.onload = function(){
                    let form = document.getElementById( `Add_${canaleId}`);
                    form.remove()

                    let li = document.createElement("li");
                    li.id = `Remove_${canaleId}`
                    li.className = "channelLayout";
                    li.setAttribute("draggable", "true");
                    li.innerHTML = `
                        ${canaleId}
                        <input type="text" value="${descrizione}">
                        <div style="display: inline-block;">
                            <button type="button" onclick="removeChannelLayout(${canaleId})">Elimina</button>
                        </div>
                        <input type="checkbox">
                        <i class="fas fa-arrows-alt drag"></i>
                    `;
                    list.appendChild(li);
                }

                xhttp.onerror = function(){
                    alert("errore", xhttp.responseText);
                }
            }

            function removeChannelLayout(canaleId){
                
                let li = document.getElementById(`Remove_${canaleId}`);
                if(li)
                    li.getElementsByTagName("button")[0].disabled = true
                
                
                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", "./layout/removeChannelLayout");
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");


                xhttp.onload = function(){
                    const name = xhttp.responseText.slice(1, -1)
                    let li = document.getElementById(`Remove_${canaleId}`);
                    if(li)
                        li.remove();

                    const div = document.createElement("div");
                    div.id = `Add_${canaleId}`;
                    div.style.display = "inline-block";
                    div.innerHTML = `
                        <button type="button" onclick="addChannelLayout(${canaleId}, '${name}')">${name}</button>
                    `;

                    const container = document.getElementById("addbuttons");
                    container.appendChild(div);
                }
                
                xhttp.onerror = function(){
                    alert("errore", xhttp.responseText);
                }

                message = {canale_id : canaleId};

                xhttp.send(JSON.stringify(message));
                
            }

            function saveLayout(){
                let list = document.getElementById("sortable element");

                let channelsLayout = list.getElementsByClassName("channelLayout");
                
                let channelsLayoutArray = []
                for(let i=0; i<channelsLayout.length; i++){
                    const canaleId = channelsLayout[i].childNodes[0].nodeValue.trim();
                    const descrizione = channelsLayout[i].querySelector('input[type="text"], input:not([type="hidden"])').value;
                    const isBatteria = channelsLayout[i].querySelector('input[type="checkbox"]').checked;

                    ch = { 
                        canaleId: canaleId,
                        descrizione: descrizione,
                        posizione: i,
                        isBatteria: isBatteria
                    };
                    channelsLayoutArray.push(ch);
                }

                request = {
                    channelsLayout: channelsLayoutArray
                };


                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", "./layout/updateLayout");
                xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                xhttp.onload = function(){
                    alert(xhttp.responseText);
                }

                xhttp.send(JSON.stringify(request));

            }
        </script>
    </body>
</html>