<!DOCTYPE html>
<html>
    <head>
        <title>
            M-400 remote control
        </title>
    </head>

    <body>
        <div>
            <form class="buttons" action ="./scene_{{ scene.id }}" method="get" style="display: inline;">
                <button type="submit">modifica layout</button>
            </form>
            <form class="buttons" action ="./scene_{{ scene.id }}" method="get" style="display: inline;">
                <button type="submit">modifica layout</button>
            </form>
        </div>
    </body>
</html>