<!DOCTYPE html>
<html>
    <head>
        <title>M-400 remote control</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/static/resource/mixer_icon.png" />
        
        <style>
            @media (max-width: 900px) {

                div {
                    height: auto;
                }

                .form {
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                }

            }

            .buttons {
                margin: 1rem;
                text-align: center;
            }

            Button{
                width: 70%;
                font-size: 1rem;
            }
        </style>
    </head>

    <body>
        <h3>Scene</h3>
        <p>Seleziona una scena</p>

        <div>
            {% for scene in scenes %}
                <form class="buttons" action ="./scene_{{ scene.id }}/" method="get">
                    <button type="submit">{{scene.nome}}</button>
                </form>
            {% endfor %}
        </div>

    </body>
</html>